[submodule "Log"]
	path = Log
	url = https://github.com/LazyPanda07/Log.git
[submodule "BaseTCPServer"]
	path = BaseTCPServer
	url = https://github.com/LazyPanda07/BaseTCPServer.git
[submodule "INIParser"]
	path = INIParser
	url = https://github.com/LazyPanda07/INIParser.git
[submodule "SHA256"]
	path = SHA256
	url = https://github.com/LazyPanda07/SHA256.git
[submodule "Networks"]
	path = Networks
	url = https://github.com/LazyPanda07/Networks.git
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/LazyPanda07/ThreadPool.git
