[submodule "HTTP"]
	path = HTTP
	url = https://github.com/LazyPanda07/HTTP.git
[submodule "SocketStreams"]
	path = SocketStreams
	url = https://github.com/LazyPanda07/SocketStreams.git
[submodule "Log"]
	path = Log
	url = https://github.com/LazyPanda07/Log.git
[submodule "BaseTCPServer"]
	path = BaseTCPServer
	url = https://github.com/LazyPanda07/BaseTCPServer.git
[submodule "INIParser"]
	path = INIParser
	url = https://github.com/LazyPanda07/INIParser.git
[submodule "SHA256"]
	path = SHA256
	url = https://github.com/LazyPanda07/SHA256.git
