# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folders
.vs/

# Binaries
bin/

# Build executable
!WebFrameworkBuilder.exe
!GenerateDocumentation.exe

# Build folder
build/

# Log files
*.log

# SQLite binaries
!sqlite3.lib
!sqlite3.dll

# Databases
*.sqlite3
*.sqlite
*.db
