name: "Continuous Integration"


on:
  push:
    branches: [main, dev]
  workflow_dispatch:


env:
  WINDOWS_CMAKE_GENERATOR: "Ninja"
  LINUX_CMAKE_GENERATOR: "Ninja"
  WINDOWS_CMAKE_BUILD_PARAMETERS: "-DWITH_STACKTRACE=ON"
  LINUX_CMAKE_BUILD_PARAMETERS: "-DWITH_STACKTRACE=ON"
  PYTHON_VERSION: 3.14


permissions:
  contents: write


jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
  
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Build
      shell: bash
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} ${{ env.WINDOWS_CMAKE_BUILD_PARAMETERS }} -G ${{ env.WINDOWS_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Windows
        path: WebFrameworkLibrary


  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} ${{ env.LINUX_CMAKE_BUILD_PARAMETERS }} -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Linux
        path: WebFrameworkLibrary


  linux-aarch64-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_TOOLCHAIN_FILE=../toolchain-aarch64.cmake -DBUILD_CSHARP_API=OFF -DBUILD_PYTHON_API=OFF -DBUILD_FLUTTER_API=OFF -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_LinuxARM
        path: WebFrameworkLibrary


  android-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:android

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -DCMAKE_BUILD_TYPE=MinSizeRel ${ANDROID_CMAKE_BUILD_ARGUMENTS} ..
          cmake --build . -j 
          make install/strip

    - name: Move
      working-directory: WebFrameworkLibrary
      run: |
          cd lib
          mkdir arm64-v8a
          mv *.so arm64-v8a
          rm -rf *.a
          rm -rf vendor

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Release_Android
        path: WebFrameworkLibrary
        

  windows-executors-build:
    runs-on: windows-latest
    needs: windows-build
    strategy:
      matrix:
        configuration: [Debug, Release]
        executors: [CXX, CC, Python, CSharp]

    steps:
    - uses: actions/checkout@v4
    
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Windows
        path: WebFrameworkLibrary

    - name: Build ${{ matrix.executors }} ${{ matrix.configuration }} Executors
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DBUILD_TESTS=OFF -DBUILD_EXECUTORS=${{ matrix.executors }} -G ${{ env.WINDOWS_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Upload executors
      uses: actions/upload-artifact@v4
      with:
        name: WindowsExecutors-${{ matrix.executors }}-${{ matrix.configuration }}
        path: Tests/build/bin


  linux-executors-build:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]
        executors: [CXX, CC, Python, CSharp]

    steps:
    - uses: actions/checkout@v4
      
    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Linux
        path: WebFrameworkLibrary

    - name: Build ${{ matrix.executors }} ${{ matrix.configuration }} Executors
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DBUILD_TESTS=OFF -DBUILD_EXECUTORS=${{ matrix.executors }} -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Upload executors
      uses: actions/upload-artifact@v4
      with:
        name: LinuxExecutors-${{ matrix.executors }}-${{ matrix.configuration }}
        path: Tests/build/bin


  windows-tests-build:
    runs-on: windows-latest
    needs: windows-build

    steps:
    - uses: actions/checkout@v4
    
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0
      
    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Windows
        path: WebFrameworkLibrary

    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DBUILD_EXECUTORS=NONE -DCXX_API=ON -DCC_API=ON -DCSHARP_API=ON -G ${{ env.WINDOWS_CMAKE_GENERATOR }} ..
          cmake --build . --config Release -j && cmake --install . --config Release

    - name: Upload tests
      uses: actions/upload-artifact@v4
      with:
        name: WindowsTests
        path: Tests/build/bin


  linux-tests-build:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Linux
        path: WebFrameworkLibrary

    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DBUILD_EXECUTORS=NONE -DCXX_API=ON -DCC_API=ON -DCSHARP_API=ON -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config Release -j && cmake --install . --config Release

    - name: Upload executors
      uses: actions/upload-artifact@v4
      with:
        name: LinuxTests
        path: Tests/build/bin


  linux-tests:
    runs-on: ubuntu-latest
    needs: [linux-tests-build, linux-executors-build]
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]
        config: [multi_threaded_config.json, thread_pool_config.json, multi_threaded_config_https.json, thread_pool_config_https.json]
        api_test: [run_tests.sh, run_cc_tests.sh, run_csharp_tests.sh, run_python_tests.sh]
        executors: [CXX, CC, Python, CSharp]

    steps:
    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Linux
        path: WebFrameworkLibrary

    - name: Download Tests
      uses: actions/download-artifact@v4
      with:
        name: LinuxTests
        path: Tests

    - name: Download ${{ matrix.configuration }} ${{ matrix.executors }} Executors
      uses: actions/download-artifact@v4
      with:
        name: LinuxExecutors-${{ matrix.executors }}-${{ matrix.configuration }}
        path: Executors

    - name: Install Python API
      run: pip3 install WebFrameworkLibrary/api/python_api/

    - name: Run ${{ matrix.api_test }} ${{ matrix.configuration }} ${{ matrix.executors }} Tests
      shell: bash
      run: |
          cp -r Executors/* Tests
          cp -r WebFrameworkLibrary/lib/* Tests
          cd Tests
          source ${{ matrix.api_test }} ${{ matrix.config }}
          

  windows-tests:
    runs-on: windows-latest
    needs: [windows-tests-build, windows-executors-build]
    strategy:
      matrix:
        configuration: [Debug, Release]
        config: [multi_threaded_config.json, thread_pool_config.json, multi_threaded_config_https.json, thread_pool_config_https.json]
        api_test: [run_tests.bat, run_cc_tests.bat, run_csharp_tests.bat, run_python_tests.bat]
        executors: [CXX, CC, Python, CSharp]

    steps:
    - name: Download WebFramework
      uses: actions/download-artifact@v4
      with:
        name: Release_Windows
        path: WebFrameworkLibrary

    - name: Download Tests
      uses: actions/download-artifact@v4
      with:
        name: WindowsTests
        path: Tests

    - name: Download ${{ matrix.configuration }} ${{ matrix.executors }} Executors
      uses: actions/download-artifact@v4
      with:
        name: WindowsExecutors-${{ matrix.executors }}-${{ matrix.configuration }}
        path: Executors

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Install Python API
      run: pip install WebFrameworkLibrary/api/python_api/

    - name: Merge artifacts
      shell: bash
      run: |
          cp -r Executors/* Tests
          cp -r WebFrameworkLibrary/lib/* Tests

    - name: Run ${{ matrix.api_test }} ${{ matrix.configuration }} ${{ matrix.executors }} Tests
      working-directory: Tests
      run: .\${{ matrix.api_test }} ${{ matrix.config }}
          

  linux-aarch64-cxx-tests:
    runs-on: ubuntu-latest
    needs: linux-aarch64-build
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]
        config: [aarch64_multi_threaded_config.json, aarch64_thread_pool_config.json, aarch64_multi_threaded_config_https.json, aarch64_thread_pool_config_https.json]

    steps:
    - uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ matrix.configuration }}_LinuxARM
        path: WebFrameworkLibrary
        
    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCXX_API=ON -DCMAKE_TOOLCHAIN_FILE=../../toolchain-aarch64.cmake -DBUILD_EXECUTORS=CXX -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Install curl
      run: apt update && apt install -y curl

    - name: Tests
      working-directory: Tests
      shell: bash
      run: |
          cd build/bin
          source run_aarch64_cxx_tests.sh ${{ matrix.config }}
          
          
  linux-aarch64-cc-tests:
    runs-on: ubuntu-latest
    needs: linux-aarch64-build
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]
        config: [aarch64_multi_threaded_config.json, aarch64_thread_pool_config.json, aarch64_multi_threaded_config_https.json, aarch64_thread_pool_config_https.json]

    steps:
    - uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ matrix.configuration }}_LinuxARM
        path: WebFrameworkLibrary
        
    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCXX_API=ON -DCC_API=ON -DCMAKE_TOOLCHAIN_FILE=../../toolchain-aarch64.cmake -DBUILD_EXECUTORS=CC -G ${{ env.LINUX_CMAKE_GENERATOR }} ..
          cmake --build . --config ${{ matrix.configuration }} -j && cmake --install . --config ${{ matrix.configuration }}

    - name: Install curl
      run: apt update && apt install -y curl

    - name: Tests
      working-directory: Tests
      shell: bash
      run: |
          cd build/bin
          source run_aarch64_cc_tests.sh ${{ matrix.config }}
          

  publish:
    needs: [
      android-build,
      linux-tests,
      windows-tests,
      linux-aarch64-cxx-tests,
      linux-aarch64-cc-tests
    ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Get current branch
      uses : LazyPanda07/extract-current-branch@master
    
    - name: Setup release version variable
      shell: pwsh
      run: echo "VERSION=$($($($(Select-String -Path .\WebFramework\src\CAPI\WebFrameworkCAPI.cpp -Pattern version) -split '( = )')[3].TrimEnd(';')).Trim('\"'))" >> $Env:GITHUB_ENV

    - name: Download artifacts
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      uses: actions/download-artifact@v4

    - name: Remove Windows tests
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: |
          rm -rf WindowsTests
          rm -rf WindowsExecutors*
      
    - name: Setup Windows build list
      run: echo "WINDOWS_BUILD_LIST="$(ls | grep Windows)"" >> ${GITHUB_ENV}
      
    - name: Create Windows zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r windows.zip ${{ env.WINDOWS_BUILD_LIST }}

    - name: Create Linux zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux.zip Release_Linux

    - name: Create Android zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r android.zip Release_Android

    - name: Create Linux ARM64 zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux_aarch64.zip Release_LinuxARM

    - name: Publish
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: gh release upload v${{ env.VERSION }} *.zip --clobber
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
