name: "Docker Distribution"


on:
  workflow_dispatch:


env:
  WEB_FRAMEWORK_DEPLOY_VERSION: 3.2.0
  WEB_FRAMEWORK_DEV_VERSION: 3.2.0
  WEB_FRAMEWORK_STATIC_DEV_VERSION: 3.2.0


permissions:
  packages: write


jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install UUID
      run: sudo apt update && sudo apt -y install uuid-dev

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary ..
          make install -j $(nproc)

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../../DockerTests/app -DPYTHON_SAMPLE=OFF -DCC_SAMPLE=OFF -DCSHARP_SAMPLE=OFF .. && make install -j $(nproc)
    
    - name: Build base image
      working-directory: Docker/web_framework_deploy
      run: sudo docker build . -t base_image

    - name: Build image
      working-directory: DockerTests
      run: sudo docker build . -t test_image

    - name: Run container
      run: |
          sudo docker run -d -p 8080:8080 test_image:latest
          curl http://127.0.0.1:8080


  docker-publish-deploy:
    runs-on: ubuntu-latest
    needs: docker-test

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Build web_framework_deploy
        working-directory: Docker/web_framework_deploy
        run: |
            sudo docker build . -t lazypanda07/web_framework_deploy:${WEB_FRAMEWORK_DEPLOY_VERSION}
            sudo docker build . -t ghcr.io/lazypanda07/web_framework_deploy:${WEB_FRAMEWORK_DEPLOY_VERSION}
          
      - name: Push web_framework_deploy
        run: |
            sudo docker login -u "${{ secrets.DOCKER_HUB_LOGIN }}" -p "${{ secrets.DOCKER_HUB_PASSWORD }}"
            sudo docker push lazypanda07/web_framework_deploy:${WEB_FRAMEWORK_DEPLOY_VERSION}
            echo ${{ secrets.GITHUB_TOKEN }} | sudo docker login ghcr.io -u LazyPanda07 --password-stdin
            sudo docker push ghcr.io/lazypanda07/web_framework_deploy:${WEB_FRAMEWORK_DEPLOY_VERSION}


  docker-publish-dev:
    runs-on: ubuntu-latest
    needs: docker-publish-deploy

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Build web_framework_dev
        working-directory: Docker/web_framework_dev
        run: |
            sudo docker build . -t lazypanda07/web_framework_dev:${WEB_FRAMEWORK_DEV_VERSION}
            sudo docker build . -t ghcr.io/lazypanda07/web_framework_dev:${WEB_FRAMEWORK_DEV_VERSION}
          
      - name: Push web_framework_deploy
        run: |
            sudo docker login -u "${{ secrets.DOCKER_HUB_LOGIN }}" -p "${{ secrets.DOCKER_HUB_PASSWORD }}"
            sudo docker push lazypanda07/web_framework_dev:${WEB_FRAMEWORK_DEV_VERSION}
            echo ${{ secrets.GITHUB_TOKEN }} | sudo docker login ghcr.io -u LazyPanda07 --password-stdin
            sudo docker push ghcr.io/lazypanda07/web_framework_dev:${WEB_FRAMEWORK_DEV_VERSION}
            