name: "Memory Leaks"


on:
  push:
    branches: [master, dev]


jobs:
  memory-leak-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        config: [multi_threaded_config.json, thread_pool_config.json, multi_threaded_config_https.json, thread_pool_config_https.json]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -G "Ninja" ..
          cmake --build . -j
          cmake --install .
        
    - name: Install Python API
      run: pip3 install WebFrameworkLibrary/api/python_api/

    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests
      working-directory: Tests
      shell: bash
      run: |
          cd build/bin
          cp ${GITHUB_WORKSPACE}/WebFrameworkLibrary/api/csharp/*.dll .
          source run_memory_leak_tests.sh ${{ matrix.config }}
