name: Samples


on:
  push:
    branches: [master, dev]
  
  
env:
  FLUTTER_VERSION: 3.38.5
  PYTHON_VERSION: 3.14


permissions:
  contents: write


jobs:
  windows-visual-studio-build:
    if: false # Disabled until Visual Studio 2026 in Github Actions
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
       submodules: recursive
   
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build VisualStudioSample
      run: |
         cd samples\VisualStudioSample
         msbuild VisualStudioSample.sln -property:Configuration=Release


  windows-build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}\WebFrameworkLibrary -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Windows
        path: samples/build/bin

        
  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Linux
        path: samples/build/bin
        

  android-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:android

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -DCMAKE_BUILD_TYPE=Release ${ANDROID_CMAKE_BUILD_ARGUMENTS} ..
          cmake --build . -j
          make install/strip

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DCXX_SAMPLE=OFF -DCC_SAMPLE=OFF -DPYTHON_SAMPLE=OFF -DCSHARP_SAMPLE=OFF ${ANDROID_CMAKE_BUILD_ARGUMENTS} ..
          cmake --build . -j
          make install/strip

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Android
        path: |
          samples/build/bin/executors/*.so
          samples/build/bin/executors/*.json
          samples/build/bin/configs/*.json
          samples/build/bin/*.so


  android-hello-executor:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:android

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary ${ANDROID_CMAKE_BUILD_ARGUMENTS} ..
          cmake --build . -j
          make install/strip

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DCXX_SAMPLE=ON -DCC_SAMPLE=ON -DPYTHON_SAMPLE=OFF -DCSHARP_SAMPLE=OFF ${ANDROID_CMAKE_BUILD_ARGUMENTS} ..
          cmake --build . -j
          make install/strip

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: HelloExecutorAndroid
        path: |
          samples/build/bin/executors/*.so
          samples/build/bin/executors/*.json
          samples/build/bin/configs/*.json


  windows-flutter-build:
    runs-on: windows-latest
    needs: windows-build

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Flutter
      uses: subosito/flutter-action@v2.16.0
      with:
        channel: stable
        flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0
      
    - name: Download assets
      uses: actions/download-artifact@v4
      with:
        name: Windows
        path: Windows

    - name: Move assets
      shell: bash
      run: |
          mkdir -p API/web_framework_flutter_api/example/assets/configs
          mkdir -p API/web_framework_flutter_api/example/assets/executors
          mv Windows/configs/*.json API/web_framework_flutter_api/example/assets/configs
          mv Windows/executors/*.* API/web_framework_flutter_api/example/assets/executors

    - name: Build
      working-directory: API/web_framework_flutter_api/example
      shell: bash
      run: flutter build windows --release

    - name: Move WebFramework
      shell: bash
      run: mv Windows/*.dll API/web_framework_flutter_api/example/build/windows/x64/runner/Release/

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: WindowsFlutterSample
        path: API/web_framework_flutter_api/example/build/windows/x64/runner/Release/

        
  android-flutter-build:
    runs-on: ubuntu-latest
    needs: android-build
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:android

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Download executors
      uses: actions/download-artifact@v4
      with:
        name: Android
        path: Android

    - name: Move assets
      run: |
          mkdir -p API/web_framework_flutter_api/example/assets/configs
          mkdir -p API/web_framework_flutter_api/example/assets/executors
          mv Android/configs/*.json API/web_framework_flutter_api/example/assets/configs
          mv Android/executors/*.* API/web_framework_flutter_api/example/assets/executors

    - name: Move WebFramework
      run: |
          mkdir -p API/web_framework_flutter_api/example/assets/lib/arm64-v8a
          mv Android/*.so API/web_framework_flutter_api/example/assets/lib/arm64-v8a

    - name: Build
      working-directory: API/web_framework_flutter_api/example
      run: flutter build apk --release --split-per-abi

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AndroidFlutterSample
        path: API/web_framework_flutter_api/example/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
        
        
  windows-tests:
    runs-on: windows-latest
    strategy:
      matrix:
        run: [.\hello_cpp, .\hello_c, .\hello_csharp, python main.py]
        samples: 
          - [ ON, OFF, OFF, OFF, cxx ]      # cxx /cxx
          - [ OFF, ON, OFF, OFF, cc ]       # cc /cc
          - [ OFF, OFF, ON, OFF, python ]   # python /python
          # - [ OFF, OFF, OFF, ON, csharp ] # csharp /csharp
          - [ ON, ON, OFF, OFF, cxx ]       # cxx, cc /cxx
          - [ ON, OFF, ON, OFF, cxx ]       # cxx, python /cxx
          - [ OFF, ON, ON, OFF, cc ]        # cc, python /cc
          # - [ OFF, ON, OFF, ON, cc ]      # cc, csharp /cc
          # - [ OFF, OFF, ON, ON, python ]  # python csharp /python
          # - [ ON, OFF, OFF, ON, csharp ]  # csharp cxx /csharp
          - [ ON, ON, ON, OFF, cxx ]        # cxx cc python /cxx
          # - [ OFF, ON, ON, ON, cc ]       # cc python csharp /cc
          # - [ ON, ON, ON, OFF, python ]   # python csharp cxx /python
          # - [ ON, ON, OFF, ON, csharp ]   # csharp cxx cc /csharp
          # - [ ON, ON, ON, ON, cxx ]       # cxx cc python csharp /cxx

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}\WebFrameworkLibrary -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCXX_EXECUTOR=${{ matrix.samples[0] }} -DCC_EXECUTOR=${{ matrix.samples[1] }} -DPYTHON_EXECUTOR=${{ matrix.samples[2] }} -DCSHARP_EXECUTOR=${{ matrix.samples[3] }} -DPYTHON_SAMPLE=ON -DCSHARP_SAMPLE=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .
          
    - name: Install Python API
      run: pip install WebFrameworkLibrary/api/python_api/
      
    - name: Run sample with /${{ matrix.samples[4] }} endpoint
      working-directory: samples/build/bin
      run: |
          start ${{ matrix.run }}
          while (-not (Test-NetConnection -ComputerName localhost -Port 8080 -InformationLevel Quiet)) { sleep 1 }
          curl http://127.0.0.1:8080/${{ matrix.samples[4] }}


  linux-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        run: [./hello_cpp, ./hello_c, ./hello_csharp, python3 main.py]
        samples: 
          - [ ON, OFF, OFF, OFF, cxx ]    # cxx /cxx
          - [ OFF, ON, OFF, OFF, cc ]     # cc /cc
          - [ OFF, OFF, ON, OFF, python ] # python /python
          - [ OFF, OFF, OFF, ON, csharp ] # csharp /csharp
          - [ ON, ON, OFF, OFF, cxx ]     # cxx, cc /cxx
          - [ ON, OFF, ON, OFF, cxx ]     # cxx, python /cxx
          - [ OFF, ON, ON, OFF, cc ]      # cc, python /cc
          - [ OFF, ON, OFF, ON, cc ]      # cc, csharp /cc
          - [ OFF, OFF, ON, ON, python ]  # python csharp /python
          - [ ON, OFF, OFF, ON, csharp ]  # csharp cxx /csharp
          - [ ON, ON, ON, OFF, cxx ]      # cxx cc python /cxx
          - [ OFF, ON, ON, ON, cc ]       # cc python csharp /cc
          - [ ON, ON, ON, OFF, python ]   # python csharp cxx /python
          - [ ON, ON, OFF, ON, csharp ]   # csharp cxx cc /csharp
          - [ ON, ON, ON, ON, cxx ]       # cxx cc python csharp /cxx

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Build WebFramework
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../WebFrameworkLibrary -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Build samples
      run: |
          cd samples
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCXX_EXECUTOR=${{ matrix.samples[0] }} -DCC_EXECUTOR=${{ matrix.samples[1] }} -DPYTHON_EXECUTOR=${{ matrix.samples[2] }} -DCSHARP_EXECUTOR=${{ matrix.samples[3] }} -DPYTHON_SAMPLE=ON -DCSHARP_SAMPLE=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Install Python API
      run: pip3 install WebFrameworkLibrary/api/python_api/

    - name: Run sample with /${{ matrix.samples[4] }} endpoint
      working-directory: samples/build/bin
      run: |
          export LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH}
          ${{ matrix.run }} & sleep 1
          while ! nc -z localhost 8080; do sleep 1; done
          curl http://127.0.0.1:8080/${{ matrix.samples[4] }}


  publish:
    runs-on: ubuntu-latest
    needs: [
      # windows-visual-studio-build,
      android-hello-executor,
      windows-build,
      linux-build,
      android-build,
      windows-flutter-build,
      android-flutter-build,
      windows-tests,
      linux-tests
    ]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Get current branch
      uses : LazyPanda07/extract-current-branch@master
    
    - name: Setup release version variable
      shell: pwsh
      run: echo "VERSION=$($($($(Select-String -Path .\WebFramework\src\CAPI\WebFrameworkCAPI.cpp -Pattern version) -split '( = )')[3].TrimEnd(';')).Trim('\"'))" >> $Env:GITHUB_ENV

    - name: Download artifacts
      uses: actions/download-artifact@v4
      
    - name: Move samples
      run: |
          mkdir samples_dir
          
          mkdir samples_dir/windows
          mv Windows/* samples_dir/windows
          
          mkdir samples_dir/windows_flutter
          mv WindowsFlutterSample/* samples_dir/windows_flutter

          mkdir samples_dir/linux
          mv Linux/* samples_dir/linux

          mkdir samples_dir/android_flutter
          mv AndroidFlutterSample/* samples_dir/android_flutter

    - name: Create samples.zip
      working-directory: samples_dir
      run: zip -r ../samples.zip . -i *.*

    - name: Create hello executors zip archives
      run: |
          cd HelloExecutorWindows && zip ../hello_executor_windows.zip *.* && cd ..
          cd HelloExecutorLinux && zip ../hello_executor_linux.zip *.* && cd ..
          cd HelloExecutorAndroid && zip ../hello_executor_android.zip *.* && cd ..
          
    - name: Publish
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: gh release create v${{ env.VERSION }} *.zip --title v${{ env.VERSION }} --generate-notes
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
